@{
    ViewData["Title"] = "Home Page";
}
<section class="sect">
    <img src="/images/exclamation.jpg" class="imd" />
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <center>
                    <h2>Our Goals</h2>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <center>

                    <h4>Our Mission</h4>
                    <p class="parText">Is to Create A Safe Space on Campus for all attendees</p>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <h4>Student Represention</h4>

                    <p class="parText">Provide Students a direct route to reporting hazards and dangers within the area</p>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <h4>Peace of Mind</h4>
                    <p class="parText">Let us thrive in our Environment and secure our health through prevention</p>
                </center>
            </div>
        </div>
    </div>
</section>
<section>
    <img src="/images/image1.png" class="imd1" />
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <center>
                    <h2>Our Process</h2>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <center>

                    <h5>Sign Up</h5>
                    <p class="parText">Create an account to post your close calls or general disturbances</p>
                </center>
            </div>
            <div class="col-md-4">
                <center>

                    <h5>Engage with others</h5>
                    <p class="parText">Rate posts based on its 'threat' levels and view posts with most 'danger zones'</p>
                </center>
            </div>
            <div class="col-md-4">
                <center>

                    <h5>Post your news</h5>
                    <p class="parText">Dangers can appear all around us, from cracks in the pavement to tipping-point dangers, let us know!</p>
                </center>
            </div>
        </div>
    </div>
</section>
