@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<html>
<body>


    <div class="policyPage">
        <div class="policyText">
            <img src="/images/excl1.png" class="Img3" />
        </div>

        <div class="policyText">
            <h1>University of Malta Assignment Applicaiton</h1>
            <p>The terms of use for this software is for scholastic purposes and is owned by UOM</p>
            <p>Developed by Second year UoM Students, BcHons in IT.</p>
            <p>Purpose includes a 'near-miss' reporting system for students and staff to ensure safety on campus.</p>
        </div>
    </div>



</body>
</html>