@{
    ViewData["Title"] = "About Nemesys";
}

    <div class='justify-content-center'>
        <h2>@ViewData["Title"]</h2>
    </div>
    <html>
    <body>
        <br />

        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <div class="col-12">
                        <center>
                            <h2>Privacy Policy</h2>
                        </center>
                    </div>
                    
                    <p>The terms of use for this software is for scholastic purposes and is owned by UOM</p>
                    <p>Developed by Second year UoM Students, BcHons in IT.</p>
                    <p>Purpose includes a 'near-miss' reporting system for students and staff to ensure safety on campus.</p>
                </div>
                <div class="col">
                    <img src="/images/excl1.png" class="Img3" />
                </div>
                <div class="col">
                    <div class="col-12">
                        <center>
                            <h2>About Nemesys</h2>
                        </center>
                    </div>
                    <p>This application is aimed at university students and campus staff to publicize any dangers in the school area</p>
                    <p>By creating an account, users can post about the hazard and any images which may promote the case</p>
                    <p>Moderation by school staff allows your reports to get viewed and dangers assessed officially</p>
                </div>
            </div>
        </div>


    </body>
</html>
